*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
section img{
    width: 100%;
    max-width: 300px;
}
header li a{
    color: #99a0b0;
    font-weight: lighter;
    text-transform: uppercase;
}
header{
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 3em;
}
header ul{
    text-align: right;
}
header li{
    display: inline-block;
    margin-left: 3em;
}
#Contato li{
    display: inline-block;
    margin: 1em;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
}
section{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.identificacao{
    background-color: #579ff8;
    color: #fcfcfd;
    padding: 10em 2em 7em;
}
.identificacao h1{
    font-size: 2.5em;
    margin-bottom: 0.7em;
}
.identificacao h2{
    font-size: 1.5em;
    font-weight: lighter;
}
section h3{
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
header li a{
    color: #99a0b0;
    font-weight: lighter;
}
.escuras{
    background-color: #2b313e;
    color: #fcfcfd;
}
.claras {
    background-color: #fcfcfd;
    color: #2b313e;
}
.projetos-header {
    float: left;

}
.styleprojetos{
    margin-left: 40%;
}
.styleprojetos li{
    background-color: #6f768b;
    padding: 1em;
    margin-bottom: 2em;
}
.styleprojetos li a{
    color: #fff;
    font-size: 1.3em;
   
}
.styleprojetos li p{
    color: #fff;
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}
#Sobre p.bio{
    color: #579ff0;
    font-size: 1.5em;
    margin: 1em;
    font-weight: 800;
    width: 50%;
}
#Sobre p.text{
    margin: 1em;
    font-weight: lighter;
    text-align: justify;
    line-height: 1.4;
}
#Sobre {
    position: relative;
}
#Sobre img{
    width: 200px;
    position: absolute;
    top: 2.5em;
    right: 10%;
}
#projetos img{
    width: 200px;
}
footer{
    padding-top: 1em;
    padding-bottom: 1em;
}